
<footer>


  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">About us</a>
            <a href="#" class="item">Read FAQs</a>
            <a href="#" class="item">Partners</a>
            <a href="/@peerquery" class="item">Our blog</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Build</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Core team</a>
            <a href="#" class="item">Github</a>
            <a href="#" class="item">Bug bounty</a>
            <a href="#" class="item">Docs</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Social</h4>
          <div class="ui inverted link list">
            <a href="http://twitter.com/peer_query" target="_blank" class="item">Twitter</a>
            <a href="http://facebook.com/peerquery" target="_blank" class="item">Facebook</a>
            <a href="http://linkedin.com/company/peerquery" target="_blank" class="item">LinkedIn</a>
            <a href="https://discord.gg/rz9GwAa" target="_blank" class="item">Discord</a>
          </div>
        </div>
        <div class="seven wide column">
			<h4 class="ui inverted header">Peer Query ™</h4>
			
			<p class="lead">Peer Query is an open source collaboration app built atop the <a href="http://steem.io">Steem Blockchain</a> facilitating transparent, uncensored, rewarding collaborations.
			<br/>
			Powered by <a href="http://steemcms.com">Steem CMS</a> by the <a href="http://steem.institute">Steem Institute</a>.
			</p>
		
			<p class="text-muted">Unless Explicitly Stated; © Copyright 2018. Proudly Ghanaian.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
	  
      <a href="/" class="ui image">
			<img src="/assets/img/logo.png" class="ui centered mini image">
	  </a>
	  
	  <br/>
	  
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="/abuse">Abuse</a>
        <a class="item" href="/full-disclosure">Full disclosure</a>
        <a class="item" href="/terms-and-conditions">Terms and Conditions</a>
        <a class="item" href="/privacy-policy">Privacy Policy</a>
      </div>
	  
    </div>
  </div>


  
  </footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111670939-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111670939-1');
</script>
