


	<div class="ui purple segment">
		
      <a class="ui red ribbon label">Overview</a>
	  
		<div class="ui list">
		
		<a class="item" title="Views on other Steem clients not factored">
			<div class="header right floated" id="sbd_quote"></div>
			<div class="content">
			<div class="description">
				<i class="chart line icon"></i>
				SBD quote
			</div>
			</div>
		</a>
		
		<a class="item">
			<div class="header right floated" id="stats-responses"></div>
			<div class="content">
			<div class="description">
				<i class="comments icon"></i>
				Responses
			</div>
			</div>
		</a>
		
		<a class="item">
			<div class="header right floated" id="stats-asker-earned"></div>
			<div class="content">
			<div class="description">
				<i class="money icon"></i>
				Author
			</div>
			</div>
		</a>
		
		<a class="item">
			<div class="header right floated" id="stats-responders-earned"></div>
			<div class="content">
			<div class="description">
				<i class="money icon"></i>
				Contributors
			</div>
			</div>
		</a>
		
		<a class="item">
			<div class="header right floated timeago" id="stats-last-activity"></div>
			<div class="content">
			<div class="description">
				<i class="history icon"></i>
				Last activity
			</div>
			</div>
		</a>
  
		</div>
		
	</div>
	
	
	
	
	
	
	<div class="ui segment" id="featured-queries-section" style="display:none">
	
    <a class="ui red ribbon label" href="/queries">Featured</a>
	
	<div class="ui feed" id="featured_queries">
	
	</div>
	
	
	</div>
	
	
	
	
	
	
	
	
	
	<div class="ui purple segment" id="from-blog" style="display:none">
	
      <a class="ui red ribbon label" href="/@peerquery" target="_blank">From our blog</a>
		
		<br/><br/>
		
		<div id="last-blog-post">		</div>
	
	</div>
	
	
	
	
	
	
	
	
	
	
	<script>
	
	
	steem.api.getDiscussionsByBlog({"tag": "peerquery", "limit": 1}, function(err, blog_result) {
	
		//console.log(err, result);
	
		document.getElementById("last-blog-post").innerHTML = "<a href='/" + blog_result[0].parent_permlink + "/@" + blog_result[0].author + "/" + blog_result[0].permlink + "'>" + blog_result[0].title + "</a>";
		
		document.getElementById("from-blog").style.display = "block";
		
	});
	
	
	steem.api.getCurrentMedianHistoryPrice(function(err, result) {
		//console.log(err, result);
		//console.log(result.base);
		document.getElementById("sbd_quote").innerText = result.base;
	});
	
	
	

	/*
	
	$.get("/api/featured_queries", function(data, status){
		console.log(data);
		
		for (x in data[0]) {
			list_featured_queries(data[0][x]);
		}
		
		document.getElementById("featured-queries-section").style.display = "block";
		
	});
	
	*/
	
	function list_featured_queries(query) {
		
		var divMain = document.createElement("div");
		divMain.className = "event";
		
		var divLabel = document.createElement("div");
		divLabel.className = "label";
		divLabel.style.marginTop = "10px";
		
		var user_img = document.createElement("img");
		user_img.src = "https://img.busy.org/@" + query.account;
		user_img.onerror = function() {this.src='/assets/img/avatar.png'; this.onerror='';};
		divLabel.appendChild(user_img);
		
		
		var divContent = document.createElement("div");
		divContent.className = "content";
		
		
		var metaSmall = document.createElement("small");
		metaSmall.className = "";
		metaSmall.innerHTML = "<em><span class = 'timeago' title = '" + query.created + "'></span> by <a href='/@" + query.account + "'>" + query.account + "</a> in " + "<a href='/tags/" + query.type + "'>" + query.type + "</a></em>";
		divContent.appendChild(metaSmall);
		
		
		
		var divSummary = document.createElement("div");
		divSummary.className = "summary";
		
		var query_title = document.createElement("a");
		query_title.innerText = query.title.substring(0, 65) + " ...";
		query_title.href = "/@" + query.account + "/" + query.permlink;
		divSummary.appendChild(query_title);
		
		
		divContent.appendChild(divSummary);
		divContent.appendChild(metaSmall);
		
		
		divMain.appendChild(divLabel);
		divMain.appendChild(divContent);
		
		
		document.getElementById("featured_queries").appendChild(divMain);
			
	}
	
	
		
	function list_featured_users(user) {
		
		
		var divItem = document.createElement("div");
		divItem.className = "item";
		
		var user_img = document.createElement("img");
		user_img.className = "ui avatar image";
		user_img.src = "https://img.busy.org/@" + user.account;
		user_img.onerror = function() {this.src='/assets/img/avatar.png'; this.onerror='';};
		divItem.appendChild(user_img);
		
		var divContent = document.createElement("div");
		divContent.className = "content";
		
		var aHeader = document.createElement("a");
		aHeader.className = "header";
		aHeader.href = "/@" + user.account;
		aHeader.innerText = user.account;
		divContent.appendChild(aHeader);
		
		var divDescription = document.createElement("div");
		divDescription.className = "description timeago";
		divDescription.title = user.created;
		divContent.appendChild(divDescription);
		
		
		divItem.appendChild(user_img);
		divItem.appendChild(divContent);
		
		document.getElementById("featured_users").appendChild(divItem);

	}
	
  
	
	
	</script>
	
	
	
	
	
	
	
	
	
	