
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  
  
	<meta charset="utf-8">
	<meta name="description" content="User.">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Peer Query">
	<meta property="og:title" content="Account: Peer Query">
	<meta property="og:description" content="User.">
	<meta property="og:image" content="https://www.peerquery.com/assets/img/peerquery.png">
	<meta property="fb:app_id" content="384491628645652">
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	<meta name="application-name" content="@<%= user%> is on Peer Query! Visit and follow their account to contribute to their queries as well as collaborate on projects together.">
	<title>User profile</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
  <link rel="stylesheet" href="/assets/css/custom.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/visibility.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/sidebar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/transition.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
  <script src="/assets/scripts/timeago.js"></script>
  <script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
	<script src="/assets/scripts/sc2.min.js"></script>
	

</head>
<body>




<section class="navbarSection">
	<% include ../partials/navbar.ejs %>
</section>



<div class="ui container">
	
<div class="ui stackable grid">
  <div class="four wide column">
  
  
  <div class="ui cards">
  <div class="card">
    <div class="image">
      <img id="userImg" src="/assets/img/image.png">
    </div>
    <div class="content">
      <div class="header" id="name"></div>
      <div class="meta">
        <a><span id="username"></span><span id="rep"></span></a>
      </div>
      <div class="description" id="bio">
      </div>
    </div>
	<div class="extra content">
	   <i class="marker icon"></i>
	   <span id="location">
	   ..
	   </span>
	</div>
    <div class="extra content">
      <span class="right floated">
        <i class="history icon"></i>
        <span class="timeago" id="created"></span>
      </span>
      <span>
        <i class="user icon"></i>
        <span id="followers"></span>
      </span>
    </div>
	
	
	
	<div class="ui compact selection dropdown">
		<i class="dropdown icon"></i>
	<div class="text">View details</div>
	<div class="menu">
		<a class="item" id="feed_btn">Feed</a>
		<a class="item" id="community_btn">Community</a>
		<a class="item" id="wallet_btn">Wallet</a>
		<a class="item" target="_blank" id="website_btn">Website</a>
		<a class="item" target="_blank" id="steemit_btn">Steemit</a>
	</div>
	</div>
	
	
	
	
	
  </div>
  
  </div>
  
  
  </div>
  
  
  <div class="twelve wide column">
  
      <div class="ui pointing below label">
		<span id="blog-label"></span>
		<span id="post_count"></span>
	  </div>
	<div class="ui relaxed divided items"  id="item-container">
    
	</div>
	
  
    <div class="ui active centered inline loader" id="spinner" style=""></div>
  
	
	
	  
	<div class="row">
		<div class="center aligned column">
			<br/><br/>
			<a class="ui button" id="more-btn" style="visibility:hidden" data-href="" data-author="" data-topic="" data-type="" onClick="loadMore(this)">Load more</a>
		</div>
	</div>
    

  
  </div>
</div>
	
</div>




<br/><br/>
  
  
	
	
	
<section name="modal for viewing posts">

<div class="ui modal">
	<i class="close icon"></i>
	
	<div class="header"><span id="modal_title"></span> <em> by <span id="modal_author"></span></em></div>
	
	
	<div class="post_content scrolling content">
		
		<div class="description" id="modal_content">
	
		</div>
	
	</div>
	
	<div class="actions">
		<a class="ui positive right positive labeled icon button" id="modal_href" >
			View
			<i class="window maximize outline icon"></i>
		</a>
		<div class="ui black right negative labeled icon button">
			Close
			<i class="window close icon"></i>
		</div>
	</div>
</div>

</section>





	
  
  <!-- mounting div -->
  
  <div id="temp" style="display:none"></div>
  
  <!-- end of mounting div -->
  

  
  
	<section class="footerSection">
		<% include ../partials/footer.ejs %>
	</section>



  <script>
   
	$("#response-toggle").click(function(){		
		$("#response-form").slideToggle("slow");
	});
	
	
	var converter = new showdown.Converter();
	
	
	
	let p_URL = window.location.pathname;
	let str = p_URL.substr(p_URL.indexOf("@") + 1);
	let user = str.substring((str.indexOf("@") + 1));
	//console.log(author);
	
	
	document.title = "@" + user + " - Peer Query";
	document.getElementById("more-btn").dataset.topic = user;

	
	document.getElementById("wallet_btn").href = "/@" + user + "/wallet";
	document.getElementById("community_btn").href = "/@" + user + "/community";
	document.getElementById("feed_btn").href = "/@" + user + "/feed";
	document.getElementById("steemit_btn").href = "http://steemit.com/@" + user;
	
	document.getElementById("userImg").src = "https://img.busy.org/@" + user + "?height=500&width=500";
	document.getElementById('userImg').onerror = function() {this.src='/assets/img/avatar.png'; this.onerror='';};
	document.getElementById("blog-label").innerText = "Blog of @" + user;
	document.getElementById("username").innerText = "@" + user;
		
	steem.api.getFollowCount(user, function(err, result) {
		//console.log(err, result);
		document.getElementById("followers").innerText = result.follower_count.toLocaleString() + " followers";
	});
	
	

	
	//let account = account;
    steem.api.getAccounts([user], function(err, response){
        //console.log(err, response);
		if (response == "" || response[0] == "") {
			alert("Account does not exist!");
			return;
		}
		
		
		var response = response[0];
		
        document.getElementById("created").title = response.created;
        document.getElementById("rep").innerText = "(" + steem.formatter.reputation(response.reputation) + ")";
		document.getElementById("post_count").innerText = "(" + Number(response.post_count).toLocaleString() + " total posts and comments)";
		
		
		if (response.json_metadata) {
				metaData = JSON.parse(response.json_metadata);
			
			if (metaData.profile) {
			
				if(metaData.profile.name != undefined || "") document.getElementById("name").innerText = metaData.profile.name;
				if(metaData.profile.about != undefined || "") document.getElementById("bio").innerText = metaData.profile.about;
				if(metaData.profile.website != undefined || "") document.getElementById("website_btn").href = metaData.profile.website;
				if(metaData.profile.location != undefined || "") document.getElementById("location").innerText = metaData.profile.location;
			
			}
		}
		
	});
	

	
	






  


function loadMore() {
	
		//console.log("WORKING!!!");
		
	document.getElementById("spinner").style.display = "block";
	document.getElementById("more-btn").style.visibility = "hidden";
	
	var element = document.getElementById("more-btn");
	
	var limt = 11;
	
	var last_permlink = element.dataset.href;
	var last_author = element.dataset.author;
	
	
		if (element.dataset.href == "") {
			query = { tag: element.dataset.topic, limit: limt };
		} else {
			query = { tag: element.dataset.topic, limit: limt, start_author : last_author, start_permlink : last_permlink };
		}
		
		//console.log(query);
		
		
	
	    steem.api.getDiscussionsByBlog(query, function(err, result) {
		
		//console.log(err, result);
		document.getElementById("spinner").style.display = "none";
		
		
		
		if (result.length > 10) document.getElementById("more-btn").style.visibility = "visible";	
		
		var n = result.length -1;
		
		//console.log(n);
		
		element.dataset.href = result[n].permlink;
		element.dataset.author = result[n].author;
		
		
		if (result.length > 10 )	{
			for (x in result) {
				if ( x == result.length -1 ) { timeAgo(); break; };
				create_post_card(result[x]);
			}
		}
		
		//console.log(result.length);
		
		if (result.length <= 10 )	{
			for (x in result) {
				
				//console.log(x);
			
				create_post_card(result[x]);
				if ( x == result.length -1 ) { timeAgo();};
			}
		}
		
		
		modal_ready();
		
		
    });
}


	loadMore();
	



function create_post_card(result) {
	
	var resteem_state = "hidden";
	if (result.first_reblogged_on) resteem_state = "visible";
	

	
	
	var html = converter.makeHtml(result.body);
	
	document.getElementById("temp").innerHTML = html;
	
	body_raw = $("#temp").text();	
	
	
	
	body1 = body_raw.replace(/ *\([^)]*\) */g, "");						//removes () and all content in it
	body2 = body1.replace(/ *\[[^\]]*\] */g, "");						//removes [] and all content in it
	body3 = body2.replace(/(?:https?|ftp):\/\/[\S\n]+/g, '');			//removes all links - targetted at image links
	
	
	var summary = body3.substr(0, 150) + " ...";
	
	summary = summary.replace(/\n/g, "");
	
	var src = "/assets/img/image.png";
	
	src = $('#temp img').attr('src');
	
	document.getElementById("temp").innerHTML = "";
	
	
	var item = document.createElement("div");
	item.className = "item";
	
	var image_div = document.createElement("div");
	image_div.className = "ui small image";
	
	var post_image = document.createElement("img");
	post_image.onerror = function() {this.src='/assets/img/image.png'; this.onerror='';};
	post_image.style.height = "124px";
	post_image.style.width = "150px";
	post_image.src = src;
	
	image_div.appendChild(post_image);
	
	var content_div = document.createElement("div");
	content_div.className = "content";
	
	var header_a = document.createElement("a");
	header_a.className = "header";
	header_a.href = "/" + result.parent_permlink + "/@" + result.author + "/" + result.permlink;
	header_a.innerText = result.title + " ";
	
	var i_resteem = document.createElement("i");
	i_resteem.title = "Resteemed";
	i_resteem.style.visibility = resteem_state;
	i_resteem.className = "tiny circular pink inverted fitted refresh icon";
	
	header_a.appendChild(i_resteem);
	
	
	var extra_div = document.createElement("div");
	extra_div.className = "extra";
	
	var author_a = document.createElement("a");
	author_a.className = "ui blue image label";
	author_a.href = "/@" + result.author;
	
	var author_img = document.createElement("img");
	author_img.onerror = function() {this.src='/assets/img/image.png'; this.onerror='';};
	author_img.src = "https://img.busy.org/@" + result.author;
	
	var author_span = document.createElement("span");
	author_span.innerText = result.author;
	
	var author_rep_div = document.createElement("div");
	author_rep_div.className = "detail";
	author_rep_div.title = "User's reputation";
	author_rep_div.innerText = steem.formatter.reputation(result.author_reputation);
	
	author_a.appendChild(author_img);
	author_a.appendChild(author_span);
	author_a.appendChild(author_rep_div);
	
	
	
	var time_span = document.createElement("span");
	
	var time_span_icon = document.createElement("i");
	time_span_icon.className = "wait icon";
	
	var time = document.createElement("span");
	time.className = "timeago";
	time.title = result.created;
	time.innerText = result.created;
	
	time_span.appendChild(time_span_icon);
	time_span.appendChild(time);
	
	var pop = document.createElement("a");
	pop.className = "pop";
	pop.title = "Preview";
	pop.setAttribute("data-account", result.author); 
	pop.setAttribute("data-title", result.title); 
	pop.setAttribute("data-permlink", result.permlink);
	pop.setAttribute("data-body", html);
	pop.innerHTML = "<i class='small circular inverted blue bug icon'></i>";
	
	extra_div.appendChild(author_a);
	extra_div.appendChild(time_span);
	extra_div.appendChild(pop);
	
	var description_div = document.createElement("div");
	description_div.className = "description";
	description_div.innerText = summary;
	
	var extra_label_div = document.createElement("div");
	extra_label_div.className = "extra";
	
	
	var a_category = document.createElement("a");
	a_category.className = "ui label";
	a_category.title = "Category";
	a_category.href = "/issue/" + result.parent_permlink;
	
	var i_category = document.createElement("i");
	i_category.className = "tag icon";
	
	var span_category = document.createElement("span");
	span_category.innerText = result.parent_permlink;
	
	a_category.appendChild(i_category);
	a_category.appendChild(span_category);


	
	var a_earned = document.createElement("a");
	a_earned.className = "ui label";
	a_earned.title = "Earned";
	
	var i_earned = document.createElement("i");
	i_earned.className = "dollar icon";
	
	var span_earned = document.createElement("span");
	span_earned.innerText = Math.max(Number(result.pending_payout_value.split(' ')[0]), Number(result.total_payout_value.split(' ')[0]) + Number(result.curator_payout_value.split(' ')[0])).toLocaleString();
	
	a_earned.appendChild(i_earned);
	a_earned.appendChild(span_earned);


	
	var a_votes = document.createElement("a");
	a_votes.className = "ui label";
	a_votes.title = "Votes";
	
	var i_votes = document.createElement("i");
	i_votes.className = "heart icon";
	
	var span_votes = document.createElement("span");
	span_votes.innerText = Number(result.active_votes.length).toLocaleString();
	
	a_votes.appendChild(i_votes);
	a_votes.appendChild(span_votes);


	
	var a_responses = document.createElement("a");
	a_responses.className = "ui label";
	a_responses.title = "Responses";
	
	var i_responses = document.createElement("i");
	i_responses.className = "comments icon";
	
	var span_responses = document.createElement("span");
	span_responses.innerText = result.children.toLocaleString();
	
	a_responses.appendChild(i_responses);
	a_responses.appendChild(span_responses);
	
	
	
	extra_label_div.appendChild(a_category);
	extra_label_div.appendChild(a_earned);
	extra_label_div.appendChild(a_votes);
	extra_label_div.appendChild(a_responses);
	
	content_div.appendChild(header_a);
	content_div.appendChild(extra_div);
	content_div.appendChild(description_div);
	content_div.appendChild(extra_label_div);
	
	item.appendChild(image_div);
	item.appendChild(content_div);
	
	
	document.getElementById("item-container").appendChild(item);
	
	
}


  

		
	function modal_ready() {
	
	
		$( ".pop" ).click(function() {
				//console.log(this);  this logs the clicked a element
				var el = this;
				
				//console.log(el);
				
				
			$('.ui.modal')
			.modal({
				onShow    : function(){
					//window.alert('Showing modal!!!');
					//console.log(this); //works but rather only logs the real modal itself!
					document.getElementById('modal_href').href = "/@" + el.dataset.account + "/" + el.dataset.permlink;
					document.getElementById('modal_title').innerHTML = el.dataset.title;
					document.getElementById('modal_author').innerHTML = "@" + el.dataset.account;
					document.getElementById('modal_content').innerHTML = el.dataset.body;
					return false;
				}
			}).modal('show');
			
		});
	
	
	}
	

	
	


  </script>

  
  
</body>

</html>
