
<div id="notifications-container" style="margin: 2%; position:fixed; bottom: 0px; z-index:9999; right: 14rem">
	
</div>


	
<footer>
	
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
      
      
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="/faqs" class="item">FAQs</a>
            <a href="/contact" class="item">Contact</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Products</h4>
          <div class="ui inverted link list">
            <a href="/projects" class="item">Coopetition</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Company</h4>
          <div class="ui inverted link list">
            <a href="https://github.com/peerquery" target="_blank" class="item">Open source</a>
			
			
          </div>
        </div>
        <div class="seven wide column">
			<h4 class="ui inverted header">Peer Query ™</h4>
			
			<p class="lead">Peer Query is an open source collaboration app built atop the <a href="https://steem.io" target="_blank">Steem Blockchain</a> facilitating transparent, uncensored, rewarding collaborations.
			
			</p>
		
			<p class="text-muted">Unless Explicitly Stated; © Copyright 2018. Proudly Ghanaian.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
	  
	  <div>
			<a href="https://facebook.com/peerquery" target="_blank" class="ui image">
				<i class="blue facebook f large icon"></i>
			</a>
	  
			<a href="https://twitter.com/peer_query" target="_blank" target="_blank" class="">
				<i class="blue large twitter icon"></i>
			</a>
			
			<a href="https://linkedin.com/company/peerquery" target="_blank" class="ui image">
				<i class="blue linkedin large icon"></i>
			</a>
	  
			<a href="https://discord.gg/rz9GwAa" target="_blank" class="ui image">
				<i class="blue discord large icon"></i>
			</a>
			
	  </div>
	  
	  <br/>
	  
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="/abuse">Abuse</a>
        <a class="item" href="/full-disclosure">Full disclosure</a>
        <a class="item" href="/terms-and-conditions">Terms and Conditions</a>
        <a class="item" href="/privacy-policy">Privacy Policy</a>
      </div>
	  
    </div>
  </div>


  
  </footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111670939-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111670939-1');
</script>
