
	<div id="members-loader" class="ui large active centered inline loader"></div>
	
	<div class="ui list" id="members-container" style="-moz-column-count: 2;-moz-column-gap: 60px;-webkit-column-count: 2;-webkit-column-gap: 60px;column-count: 2;column-gap: 60px;"></div>
	
	<button class="ui right floated button" id="moreBtn" style="display:none; margin-top: 3rem">Load more</button>
	
	<br/>
	
	<script src="/build/dist/project_members.js"></script>
  