
<div>
	

    <meta name="robots" itemprop="robots" content="noindex" />

            <h4 class="ui dividing header">Welcome message for new members</h4>

        <div class="" id="welcomemessageSegment">

            <div class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" id="welcomemessageTitle" value="">
                </div>
                <div class="field">
                    <label>Body</label>
                    <textarea rows="2" id="welcomemessageBody"></textarea>
                </div>
                
                <div class="ui right floated button" id="welcomemessageBtn">Save</div>
            </div>    
            
        
        </div>
        
        <br/>
        <br/>
        
            <h4 class="ui dividing header">Thank you message for new benefactors</h4>

        <div class="" id="benefactormessageSegment">

            <div class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" id="benefactormessageTitle" value="">
                </div>
                <div class="field">
                    <label>Body</label>
                    <textarea rows="2" id="benefactormessageBody"></textarea>
                </div>
                
                <div class="ui right floated button" id="benefactormessageBtn">Save</div>
            </div>    
            
        
        </div>
        
</div>

	<script src="/build/dist/project_compliments.js"></script>
    