
	
	
	<div class="ui large active centered inline loader" id="post-loader" style="display:none"></div>
	
	<div class="ui relaxed divided items"  id="item-container">  </div>	
	
	<button class="ui right floated button" id="moreBtn" style="display:none; margin-top: 3rem">Load more</button>
	
	<br/>
	
	
	
	
	
	
<section name="modal for viewing posts">

<div class="ui modal">
	<i class="close icon"></i>
	
	<div class="header"><span id="modal_title"></span> <em> by <span id="modal_author"></span></em></div>
	
	
	<div class="post_content scrolling content">
		
		<div class="description" id="modal_content">
	
		</div>
	
	</div>
	
	<div class="actions">
		<a class="ui positive right positive labeled icon button" id="modal_href" >
			View
			<i class="window maximize outline icon"></i>
		</a>
		<div class="ui black right negative labeled icon button">
			Close
			<i class="window close icon"></i>
		</div>
	</div>
</div>

</section>



	
	
	
	<script src="/build/dist/project_reports.js"></script>
  