
	<div id="members-loader" class="ui large active centered inline loader"></div>
	
    <div class="ui raised segment" style="display:none" id="team-segment">
        <div class="ui top right attached label">Team</div>
        <div class="ui list" id="team-container" style="-moz-column-count: 2;-moz-column-gap: 60px;-webkit-column-count: 2;-webkit-column-gap: 60px;column-count: 2;column-gap: 60px;"></div>
    </div>
    
    <br/>
    
	<div class="ui list" id="members-container" style="-moz-column-count: 2;-moz-column-gap: 60px;-webkit-column-count: 2;-webkit-column-gap: 60px;column-count: 2;column-gap: 60px;"></div>
	
	<button class="ui right floated button" id="moreBtn" style="display:none; margin-top: 3rem">Load more</button>
	
	<br/>
    
    <div class="ui basic modal manage">
        <div class="ui icon header">
            <i class="cogs icon"></i>
            Manage account for member <span id='username'></span>
        </div>
        <div class="content">
            <p>Users on your team can only write posts for the project. If you remove a user, they can still send another membership request.</p>
        </div>
        <div class="actions">
            <div id="upgrade_user_btn" class="ui green inverted button">
                <i class="angle up icon"></i>
                Add to team
            </div>
            <div id="delete_user_btn" class="ui red inverted button">
                <i class="angle down icon"></i>
                Remove user
            </div>
            <div class="ui red basic cancel inverted button">
                <i class="times icon"></i>
                Cancel
            </div>
        </div>
    </div>
    
	

	<script>
    window.onload = function() {
        
        $('#members-container, #team-container').on('click', '.manage', function() {
            let target = $(this).data('account');
            $('#upgrade_user_btn').removeClass("disabled");
            $('#delete_user_btn').removeClass("disabled");
            $('#username').html('<em>@' + target + '</em>');
            $('#upgrade_user_btn').attr('data-account', target);
            $('#delete_user_btn').attr('data-account', target);
            $('.ui.modal.manage').modal('show');
        });
        
        
    }
    </script>
	<script src="/build/dist/project_members.js"></script>
  