

<div>
	

    <meta name="robots" itemprop="robots" content="noindex" />

    
    <h4 class="ui dividing header">Action</h4>
    
    <div class="ui segment">
    
<div class="ui bottom attached label">Call to action button</div>
    
    <div class="ui form">
  <div class="two fields">
    <div class="field">
      <label>Message</label>
      <input type="text" id="msg" placeholder="Delegate SP to us">
    </div>
    <div class="field">
      <label>Link or URI</label>
      <input type="text" id="uri" placeholder="https://steemconnect.com/sign...">
    </div>
  </div>
  
  <div class="compact ui right floated button" id="update_action_button">Save</div>
    </div>



    </div>
    
    
    
    
    <!--
    
    
    
    <h4 class="ui dividing header">Reporting</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Allow every member of the project to publish reports.</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
  
	

    <h4 class="ui dividing header">Queries</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Allow every member of this project to create queries.</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
  
	

    <h4 class="ui dividing header">Requests</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Allow every mener of the project to approve join request.</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
  
  
  -->
	
	
</div>

  
	<script src="/build/dist/project_manage.js"></script>
  
