

<div>


    <meta name="robots" itemprop="robots" content="noindex" />

    
    <!--
    
    <h4 class="ui dividing header">Private</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Only members can see reports, queries and members.</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
  
    <h4 class="ui dividing header">Archive</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" name="public">
                <label>Stop all activity on the project. Undo anytime</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
    
    -->
  
	
    <h4 class="ui dividing header">Export data</h4>
	
    <div class="ui basic segment">

        <button class="ui right floated button" id="export_data">Export</button>
        <div class="ui right pointing green label">Download the JSON or XML format of your project's data</div>

    </div>

        
    <h4 class="ui dividing header">Transfer ownership</h4>
	
    <div class="ui basic segment">

        <button class="ui right floated button" id="transfer_project">Transfer</button>
        <div class="ui right pointing yellow label">Careful, cannot be undone. You will loose all control over the project</div>

    </div>

    <h4 class="ui dividing header">Delete project</h4>
	
  
    <div class="ui basic segment">

        <button class="ui right floated button" id="delete_project">Delete</button>
        <div class="ui right pointing red label">Warning, cannot be undone. You will loose all data associated with the project</div>

    </div>
    
    
    <div class="ui mini modal export">
        <i class="close icon"></i>
        <div class="header">
            Choose export format
        </div>
        <div class="content">
            <div class="description">
                <p>Download data as JSON or XML</p>
            </div>
        </div>
        <div class="actions" id="export_type">
            <div id="json" class="ui black button">
                JSON
            </div>
            <div id="xml" class="ui right disabled button">
                XML
            </div>
        </div>
    </div>
    
    
    <div class="ui mini modal transfer">
    
        <i class="close icon"></i>
        <div class="header">
            Complete transfer to new owner
        </div>
        
        
        <div class="content">
            
            <div class="ui fluid selection disabled dropdown" id="teamField">
                
                <input type="hidden" name="user" id="input">
                
                <i class="dropdown icon"></i>
                <div class="default text">Select new owner</div>
                
                <div class="menu" id="team_list">
                </div>
                
            </div>
        
        </div>
        
        
        <div class="actions">
            <div class="ui cancel black button">
                Cancel
            </div>
            <div class="ui green button" id="authorize_transfer">
                Transfer
            </div>
        </div>
        
    </div>
    
    
    <div class="ui basic modal delete">
        <div class="ui icon header">
            <i class="hourglass end icon"></i>
            End of the road for our lovely project
        </div>
        <div class="content">
            <p>If you only want to take a break from the project, you can archive it. Remember, you can always create a new project whenever you like.</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div id="authorize_delete" class="ui green inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    
    
</div>

	<script>
    window.onload = function() {
        $('.ui.toggle').checkbox();
        
        $.getJSON('/api/project/' + project_slug + '/team', null, function(datas) {
                let data = datas[0].team;
                $('#teamField').removeClass('disabled');
                $.each(data, function(index, item) {
                    // Iterates through a collection
                        
                        if(item.account == window.project_owner) return true; 
                        
                       var html = '<img class="ui mini avatar image" src="https://steemitimages.com/u/' + item.account + '/avatar">@' + item.account;
                       var attr = { 'class': 'item', 'data-value': item.account }
                       
                    $('#team_list').append(
                        // Append an object to the inside of the select box
                       
                        $('<div></div>') // Yes you can do this.
                            .html(html)
                            .attr(attr)
                    );
                });
        });
        
        $('#transfer_project').on('click', function() {
            $('.ui.modal.transfer').modal('show');
        });
    
        $('#export_data').on('click', function() {  
            $('.ui.modal.export').modal('show');
        });
    
        $('#delete_project').on('click', function() {    
            $('.ui.modal.delete').modal('show');
        });
        
    }
    </script>
	<script src="/build/dist/project_settings.js"></script>
  