
	<div id="settings-loader" class="ui large active centered inline loader"></div>
	
	
	<form class="ui form" id="settings-form" style="display:none">
	
	
  <h4 class="ui dividing header">General</h4>
	

  <div class="field">
    
  
  <div class="two fields">
      <div class="field" id="nameField"><label>Name*</label>
        <input type="text" id="projectName" name="" placeholder="">
      </div>
      <div class="field"><label>Location</label>
        <input id="projectLocation" type="text" name="" placeholder="">
      </div>
    </div>
  </div>
  
  <div class="field">
   
    <div class="fields"> 
      <div class="eight wide field"><label>Profile image</label>
        <input type="text" id="projectLogo" placeholder="">
      </div>
      <div class="eight wide field"> <label>Cover image</label>
        <input type="text" id="projectCover" placeholder="">
      </div>
    </div>
  </div>
	
  <div class="field" id="descriptionField">
    <label>Brief description[Text only 160 characters max]*</label>
    <textarea class="limitedText" maxlength="160" id="projectDescription" rows="2"></textarea>
  </div>
  
  
  <br/>
  
  <h4 class="ui dividing header">Definition</h4>
  
  
  
  <div class="field">
    <label>Mission[Text only 160 characters max]</label>
    <textarea id="projectMission" class="limitedText" maxlength="160" rows="2"></textarea>
  </div>
  
  
  <div class="field">
    <label>Project story[Landing page view: HTML supported and encouraged]</label>
    <div id="editor"></div>
  </div>
  
  
  
  <div class="field">
    <div class="two fields">
	
	
    <div class="field" id="stateField">
      <label>State</label>
      <select id="projectState" class="ui fluid dropdown">
    <option value="">Change state</option>
    <option value="hibernation">Hibernation</option>
    <option value="active">Active</option>
      </select>
    </div>
	
      <div class="field" id="tagField"><label>Tag*</label>
        <input type="text" id="projectTag" name="" placeholder="">
      </div>
    </div>
  </div>
  
  
  
  <br/>
  
  
		<h4 class="ui dividing header">Affiliations</h4>
  
  
  <div class="field">
    <div class="two fields">
      <div class="field"><label>Website</label>
        <input type="text" id="projectWebsite" name="" placeholder="">
      </div>
      <div class="field"><label>Steem</label>
        <input type="text" id="projectSteem" name="" placeholder="">
      </div>
    </div>
	
  </div>
  
  
  <div class="field">
    <div class="two fields">
      <div class="field"><label>Facebook</label>
        <input type="text" id="projectFacebook" name="" placeholder="">
      </div>
      <div class="field"><label>Twitter</label>
        <input type="text" id="projectTwitter" name="" placeholder="">
      </div>
    </div>
	
  </div>
  
  
  
  <div class="field">
    <div class="two fields">
      <div class="field"><label>Github</label>
        <input type="text" id="projectGithub" name="" placeholder="">
      </div>
      <div class="field"><label>Chat</label>
        <input type="text" id="projectChat" name="" placeholder="">
      </div>
    </div>
	
  </div>
  
  <br/>
  <br/>
  
</form>
	
  <div class="ui right floated button" id="updateBtn" style="display:none" tabindex="0">Update project</div>
  
	
  
	<script src="/build/dist/project_settings.js"></script>
	<link rel="stylesheet" href="/build/dist/project_settings.css">
  