

<div>


    <meta name="robots" itemprop="robots" content="noindex" />

    
    <!--
    
    <h4 class="ui dividing header">Private</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Only members can see reports, queries and members.</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
  
    <h4 class="ui dividing header">Archive</h4>

   <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <label>Stop all activity on the project. Undo anytime.</label>
            </div>
            <button class="compact ui right floated button">Save</button>
        </div>
    </div>
    
    
    -->
  
	
    <h4 class="ui dividing header">Export data</h4>
	
    <div class="ui basic segment">

        <button class="ui right floated button" id="export_data">Export</button>
        <div class="ui right pointing green label">Download the JSON or XML format of your project's data</div>

    </div>

        
    <h4 class="ui dividing header">Transfer ownership</h4>
	
    <div class="ui basic segment">

        <button class="ui right floated button" id="tranfer_project">Transfer</button>
        <div class="ui right pointing yellow label">Careful, cannot be undone. You will loose all control over the project</div>

    </div>

    <h4 class="ui dividing header">Delete project</h4>
	
  
    <div class="ui basic segment">

        <button class="ui right floated button" id="delete_project">Delete</button>
        <div class="ui right pointing red label">Warning, cannot be undone. You will loose all data associated with the project</div>

    </div>
    
    
    <div class="ui mini modal export">
        <i class="close icon"></i>
        <div class="header">
            Choose export format
        </div>
        <div class="content">
            <div class="description">
                <p>Download data as JSON or XML</p>
            </div>
        </div>
        <div class="actions">
            <div id="json" class="ui black button">
                JSON
            </div>
            <div id="xml" class="ui right button">
                XML
            </div>
        </div>
    </div>
    
    
    <div class="ui mini modal transfer">
        <i class="close icon"></i>
        <div class="header">
            Complete transfer to new owner
        </div>
        <div class="content">
            <div class="ui fluid action input">
                <input type="text" placeholder="New owner account">
                <div id="transfer_btn" class="ui button">Transfer</div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel black button">
                Cancel
            </div>
        </div>
    </div>
    
    
    <div class="ui basic modal delete">
        <div class="ui icon header">
            <i class="hourglass end icon"></i>
            End of the road for our lovely project
        </div>
        <div class="content">
            <p>If you only want to take a break from the project, you can archive it. Remember, you can always create a new project whenever you like.</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div id="delete_project_btn" class="ui green inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    
    
</div>

	<script>
    window.onload = function() {
        $('.ui.toggle').checkbox();
        
        $('#tranfer_project').on('click', function() {    
            $('.ui.modal.transfer').modal('show');
        });
    
        $('#export_data').on('click', function() {  
            $('.ui.modal.export').modal('show');
        });
    
        $('#delete_project').on('click', function() {    
            $('.ui.modal.delete').modal('show');
        });
    }
    </script>
	<script src="/build/dist/project_settings.js"></script>
  