
<div>
    
    
    <meta name="robots" itemprop="robots" content="noindex" />

    
	<div id="stats-loader" class="ui large active centered inline loader"></div>
	
    <div id="activity-section" style="display:none;">
    
    <h4 class="ui dividing header">Overview</h4>
    
    <div class="ui segment">
    
    <div class="ui bottom attached label"><i class="circular small inverted grey info icon"></i> Overview</div>
    
        <div class="ui four small statistics">
            
            <div class="statistic">
                <div class="value">
                    <i class="clipboard tiny icon"></i>
                    <span id="report_count"></span>
                </div>
                <div class="label">
                    Reports
                </div>
            </div>
            
            <div class="statistic">
                <div class="value">
                    <i class="question tiny icon"></i>
                    <span id="query_count"></span>
                </div>
                <div class="label">
                    Queries
                </div>
            </div>
            
        </div>

    </div>
    
    </div>
    
    
    <div id="community-section" style="display:none; margin-top:20px">
    
    <h4 class="ui dividing header">Community</h4>
    
    <div class="ui segment">
    
    <div class="ui bottom attached label"><i class="circular small inverted grey info icon"></i> Audience</div>
    
        <div class="ui four small statistics">
        
            <div class="statistic">
                <div class="value">
                    <span id="member_count"></span>
                </div>
                <div class="label">
                    Members
                </div>
            </div>
            
            <div class="statistic">
                <div class="value">
                    <span id="pending_count"></span>
                </div>
                <div class="label">
                    Pending
                </div>
            </div>
            
            <div class="statistic">
                <div class="value">
                    <span id="team_count"></span>
                </div>
                <div class="label">
                    Team
                </div>
            </div>
            
        </div>

    </div>
    
    </div>
    
    
    <div style="display:none; margin-top:20px" id="reach-section">
    
    <h4 class="ui dividing header">Reach</h4>
    
    <div class="ui segment">
    
    <div class="ui bottom attached label"><i class="circular small inverted grey info icon"></i>  Reach</div>
    
        <div class="ui three statistics">
        
            <div class="statistic">
                <div class="text value">
                    Three<br>
                    Thousand
                </div>
                <div class="label">
                    Followers
                </div>
            </div>
            
            <div class="statistic">
                <div class="text value">
                    Three<br>
                    Thousand
                </div>
                <div class="label">
                    Views
                </div>
            </div>
            
            
        </div>

    </div>
    
    </div>
    
	
</div>

  
	<script src="/build/dist/project_stats.js"></script>
  
