
	
	
	<div class="ui large active centered inline loader" id="loader" style="display:none"></div>
	
	<div class="ui two stackable link cards" id="item-container">  </div>	
	
	<button class="ui right floated button" id="moreBtn" style="display:none; margin-top: 3rem">Load more</button>
	
	<br/>
	
	
	<script src="/build/dist/project_queries.js"></script>
  
	<script>
	//
	function ready() {
		$('.popupDescription').popup();
	}
	</script>
  