


	<div class="ui purple segment">
		
      <a class="ui red ribbon label">Overview</a>
	  
		<div class="ui list">
		
		<a class="item" title="Views on other Steem clients not factored">
			<div class="header right floated" id="sbd_quote"><%= data.view_count %></div>
			<div class="content">
			<div class="description">
				<i class="eye icon"></i>
				Site views
			</div>
			</div>
		</a>
		
  
		</div>
		
	</div>
	
	
	

	
	
	
	
	
	
	