
<!DOCTYPE html>
<html>
<head>
	
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- SEO Properties -->
	<title>Fair Use Policy - Peer Query</title>
	<meta name="description" content="Fair use and abuse policy for Peer Query.">
	<meta name="application-name" content="Peer Query">
	
	<!-- Open graph properties -->
	<meta property="og:site_name" content="Peer Query">
	<meta property="og:title" content="Fair Use Policy - Peer Query">
	<meta property="og:image" content="https://www.peerquery.com/assets/images/peerquery-home.png"/>
	<meta property="og:description" content="Fair use and abuse policy for Peer Query.">
	<meta property="fb:app_id" content="384491628645652">
	
	<!-- SEO robots -->
	<meta name="robots" content="index, follow" />
	
	<link rel="stylesheet" href="/build/dist/styles.css">
	
</head>
<body>




<section class="navbarSection">
	<% include ../partials/navbar.ejs %>
</section>


	<div class="ui main text container">
		
	<br/>
		
	
	<h4 class="ui horizontal header divider">
        <a>Fair use policy</a>
    </h4>
	
	<br/>
	<br/>
	
	<p><strong>General</strong></p>
	<p>Peer Query is primarily a 'specialized' interface to post content to your Steem account. Peer Query is not a money making machine, nor do we or our users promise or owe you anything.</p>
	
	<p>Sometimes little efforts get huge support; sometimes huge efforts get no attention. Such is life.</p>
	
	<p>Enjoy this interface as much as you can and make it fun for those you encounter along the way! Shockingly, that's all there is.</p>
	
	<p>As you are fully and solely responsible for your use of this site; use it wisely.</p>
	
	<br/>
	
	<p><strong>Right of admission</strong></p>
	<p>Peer Query reserves the right of admission to this client and community. Users and entities of all kinds who do not comply with our various terms and conditions could be banned from using Peer Query.</p>
	
	<br/>
	
	<p>While activity on the Steem Blockchain cannot be censored, Peer Query is a moderated community and access to it is regulated.</p>
	
	<br/>
	
	<p><strong>Community standards</strong></p>
	<p>Be nice, stick to the common interest.</p>
	
	<br/>
	
	<p><strong>Contribution</strong></p>
	<p>Not all contributions can be accepted due to the dual capitalist and socialist nature of the project. For full autonomy over your ambitions, kindly fork the code on Github, re-brand it and do with it as you please.</p>
	
	<br/>
	
	<p>All contributors to this open source project are encouraged to use Utopian.io to publish their contributions to be potentially rewarded, thank you.</p>
	
	<br/>
	
	<p><strong>Code license</strong></p>
	<p>Peer Query is an open source project licensed under MIT license. HOWEVER, while the project code is open source, Peer Query and its affiliated products, services and brand are proprietary.</p>
	
	<br/>
	
	<p><strong>Piracy</strong></p>
	<p>Piracy of all kinds including plagiarism is frowned upon by the Peer Query community. Accounts that engage in piracy would be banned.</p>
	
	<br/>
	
	<br/>
	
	<p><strong>Spam</strong></p>
	<p>Always remember that all activity on Peer Query is potentially permanently stored on your Steem account.</p>
	
	<br/>
	
	<p><strong>Abuse</strong></p>
	<p>Peer Query frowns upon personal attacks in all forms and for all reasons. </p>
	
	<p>To report any incident of abuse, or complaint please send us a message on <a href="http://m.me/peer.query">our messenger account @peer.query</a>. </p>
	
	<br/>
	
	<p><em>Happy querying, peer! - Dzivenu, founder.</em></p>
	
	<br/>
	<br/>
	
	
	</div>

	
	
	
	
	<script src="/build/dist/scripts.js"></script>
  
	<section class="footerSection">
		<% include ../partials/footer.ejs %>
	</section>
  
	
	
  
</body>

</html>
