
<!DOCTYPE html>
<html>
<head>

	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- SEO Properties -->
	<title>Frequently Asked Question - Peer Query</title>
	<meta name="description" content="Answering the top questions you might have about Peer Query.">
	<meta name="application-name" content="Peer Query">
	
	<!-- Open graph properties -->
	<meta property="og:site_name" content="Peer Query">
	<meta property="og:title" content="Frequently Asked Question - Peer Query">
	<meta property="og:image" content="https://www.peerquery.com/assets/images/peerquery-home.png"/>
	<meta property="og:description" content="Answering the top questions you might have about Peer Query.">
	<meta property="fb:app_id" content="384491628645652">
	
	<!-- SEO robots -->
	<meta name="robots" content="index, follow" />
	
	<script src="/build/dist/ui.js"></script>
	
</head>
<body>


	
<section class="navbarSection">
	<% include ../partials/navbar.ejs %>
</section>


	<div class="ui main text container">
		
		
	<br/>
		
	
	<h4 class="ui horizontal header divider">
        <a>Frequently Asked Questions</a>
    </h4>
	
	<br/>
	<br/>
	
	
	  <div class="ui styled fluid accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    What is Peer Query?
  </div>
  <div class="active content">
    <p>Peer Query is a peer to peer collaboration site powered by the Steem Blockchain. Steem account holders are able to use Peer Query to post queries to the Steem as well as comment and vote on queries posted by others.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What is Steem?
  </div>
  <div class="content">
    <p>Steem is a content-focused Blockchain on which peer Query is built. Unlike other Blockchains, when new Steem tokens are mined miner keep only 25% of it, 75% goes to the content creators whose posts are voted by Steem account voters.</p>
	
    <p>Steem is a a place to share content just like Facebook: the only difference is that when you vote(much the same as "liking" on Facebook) on a content, you are telling the Blockchain to pay the content creator part of the 75% reward pool!</p>
	
    <p>Content posted to the Steem Blockchain cannot be modified or deleted by anyone except the original author within the first seven days. After that is permanently incorruptible. Learn more about the awesome <a href="http://steem.io">Steem Blockchain</a>.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Who can use Peer Query?
  </div>
  <div class="content">
    <p>Anyone with a Steem account can use Peer Query.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do I login to Peer Query?
  </div>
  <div class="content">
    <p>The Peer Query login system is built atop <a href="http://v2.steemconnect.com">Steem Connect v2</a>, a secure remote Steem login system by Steemit Inc and Busy Inc.</p>
    <p>Click on the login button above, you will be redirected to the Steem Connect page to authorize the login or to authorize the posting auths if you are signing in for the first time.</p>
    <p>After the process is successfully completed you will be redirected back to Peer Query and will be automatically logged in.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How can I use Peer Query?
  </div>
  <div class="content">
    <p>You can use Peer Query to publish proposals on any issue to the Steem community. You can ask questions, respond to questions or vote on the work of others.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How is a profile tagged as "builder", "reporter" or "observer" ?
  </div>
  <div class="content">
    <p>A project that does not have any post or project is tagged <em>observer</em>, one with atleast one post and no project is tagged <em>reporter</em> and one with atleast one porject is tagged <em>builder</em>.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do I get my project to show in the "featured" section?
  </div>
  <div class="content">
    <p>Simply add a website, steem account and facebook page to your project.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    <s>How does Peer Query select content for voting?</s>
  </div>
  <div class="content">
  <s>
    <p>There are two voting bots on Peer Query: @pq-bot and @peerquery.</p>
	<p>@pq-bot auto-votes on as many new posts created on Peer Query as possible, without review.</p>
    <p>@peerquery is a moderated voting bot which only votes on content appointed by Peer Query moderators.</p>
  </s>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Is my personal data safe with Peer Query?
  </div>
  <div class="content">
    <p>Data published on Peer Query through a report or a comment is a technically published to the Steem Blockchain account of the respective user. All such activity and content created are permanently visible on the Steem Blockchain, and that is beyond the capability of Peer Query to manage. Users of Peer Query are expected to conduct their activities in a manner that reflects an understanding of this principle.</p>
    <p>All other data submitted or gathered by Peer Query including email for email subscribers are keep safe under our <a href="/privacy-policy">privacy policy</a> terms.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What is Peer Query's content policy?
  </div>
  <div class="content">
    <p>Each user is solely responsible for their use of the site including all content they publish here.</p>
    <p>Peer Query and its team will not be liable for pirated content, hate speech or illegal activities on our site by any user.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    <s>Does Peer Query charge?</s>
  </div>
  <div class="content">
  <s>
    <p>Peer Query imposes a 10% deduction on all post(queries) and comments(responses) made through it.</p>
    <p>This charge is taken by way of post author reward split on the Steem blockchain hence the user never directly gets to make any payments.</p>
  </s>  
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How are the people behind Peer Query?
  </div>
  <div class="content">
    <p>Peer Query is founded by <a href="http://dzivenu.com">Makafui George Dzivenu</a> and managed by the <a href="/team">Peer Query team</a>.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What happens to my data gathered on Peer Query?
  </div>
  <div class="content">
    <p>All data collected from users on the Peer Query website will be used for the reason for which they were collected and are governed by the terms stated in our <a href="/privacy-policy">privacy policy</a>.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How can I leave Peer Query?
  </div>
  <div class="content">
    <p>While we do not wish that it comes to this, if for any reason you would want to revoke your posting auths for the Peer Query.app, use the link below.</p>
    <p><a href="https://v2.steemconnect.com/revoke/@peerquery.app">https://v2.steemconnect.com/revoke/@peerquery.app</a>. A utility would soon be provied to allow for the removal of all your data as well.</p>
  </div>
</div>
	
	
	<br/>
	<br/>
	
	
	</div>

	
	
  
	<section class="footerSection">
		<% include ../partials/footer.ejs %>
	</section>

	<script>
	
	$('.ui.accordion')
		.accordion()
	;
	
	</script>

  

  
  
</body>

</html>
