
<!DOCTYPE html>
<html>
<head>
	
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- SEO Properties -->
	<title>Peer Query Open Source</title>
	<meta name="description" content="We don't believe in open source; actually, we live it! Aside from being fully open source, Peer Query has created and supported several open source projects.">
	<meta name="application-name" content="Peer Query">
	
	<!-- Open graph properties -->
	<meta property="og:site_name" content="Peer Query">
	<meta property="og:title" content="Peer Query Open Source">
	<meta property="og:image" content="https://www.peerquery.com/assets/images/peerquery-home.png"/>
	<meta property="og:description" content="We don't believe in open source; actually, we live it! Aside from being fully open source, Peer Query has created and supported several open source projects.">
	<meta property="fb:app_id" content="384491628645652">
	
	<!-- SEO robots -->
	<meta name="robots" content="index, follow" />
    
	<link rel="stylesheet" href="/build/dist/styles.css">
    
</head>
<body>

	
	
<!-- Page Contents -->
<section class="navbarSection">
	<% include ../partials/navbar.ejs %>
</section>


<div class="pusher" >

  <div class="ui inverted vertical masthead center aligned segment" style="margin-top: -7%; margin-bottom: 2%; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/opensource-background.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; ">
	
    <div class="ui text container" >
      <h1 class="ui inverted header">
        Open to the Core!
      </h1>
      <h2>We don't believe in open source; actually, we live it!</h2>
	  <a class="ui scroll huge right labeled primary icon button">
            <i class="chevron down icon"></i>
            See our contributions
      </a>
    </div>
	
	<small>
		Photo by <a href="https://pixabay.com/en/icosphere-image-images-blender-3200744/" target="_blank">Temp 20</a>.
	</small>
	
  </div>
  
</div>
  





  <div class="ui vertical stripe segment">
  
  
		  
		  <h3 class="ui center aligned header">What's your version of Open Source?</h3>
		  
		  <br/><br/>
		  
		  <div class="ui last container">
            <div class="ui three steps">
            
                <div class="step">
                    <div class="content" style="padding: 1rem 0rem 1rem">
                        <div class="title"><i class="cubes icon"></i>Open Source by design</div>
                        <div class="description">
                            <p>The most powerful app built on the world's most powerful Blockchain is not only built on Open Source technologies, but is also Open Source.</p>
                        </div>
                        <br/><br/>
                        <a href="https://github.com/peerquery/beta" target="_blank" class="ui fluid button" >Repo</a>
                    
                    </div>
                </div>
                
                <div class="active step">
                    <div class="content" style="padding: 1rem 0rem 1rem">
                        <div class="title"><i class="cubes icon"></i>Contributes to Open Source</div>
                        <div class="description">
                            <p>Peer Query have contributed to several open source projects, including those in the crypto-currency(Steem) industry and also beyond.</p>
                        </div>
                        <br/><br/>
                        <a href="https://github.com/peerquery" target="_blank" class="ui fluid button" >See</a>
                    
                    </div>
                </div>
                
                <div class="step">
                    <div class="content" style="padding: 1rem 0rem 1rem">
                        <div class="title"><i class="cubes icon"></i>Supports Open Source</div>
                        <div class="description">
                            <p>We also support several Open Source projects, with a special category created just for such projects. They benefit from our curation service.</p>
                        </div>
                        <br/><br/>
                        <a href="/projects/open-source" target="_blank" class="ui fluid button" >Explore</a>
                    
                    </div>
                </div>
                
            </div>
          </div>
		  
        <br/>
        <br/>
  
  
  </div>
  
  
  



    <div class="ui basic segment" style="margin: 10rem 0rem 3rem;">
        <h2 class="ui center aligned header">Open Source Projects Started Here</h2>
    </div>
    
  
<div class="ui container" style="padding: 0rem 0rem 8rem">
  

	
    
    <div class="ui grid">
        <div class="four column center aligned row">
              
            <div class="column">
              
                <img class="ui centered small circular image" style="width: 100px; height: 100px" src="/assets/images/placeholder.png">
                <div class="ui hidden divider"></div>
                
                <div class="title"> <h5>Markup JS</h5> </div>
                
                <div class="description">
                    <p>Powerful libraries for HTML and Markdown markup text manipulation and transformation.</p>
                </div>
                
                <br/><br/>
                
                <a href="https://markupjs.com" target="_blank" class="ui button">    Markup JS  </a>
              
            </div>
              
            <div class="column">
              
                <img class="ui centered small circular image" style="width: 100px; height: 100px" src="/assets/images/placeholder.png">
                <div class="ui hidden divider"></div>
                
                <div class="title"> <h5>Req Sanitizer</h5> </div>
                
                <div class="description">
                    <p>This Express.js middleware sanitizes your *req.body* object so you do not need to do so later.</p>
                </div>
                
                <br/><br/>
                
                <a href="https://github.com/peerquery/req-sanitizer" target="_blank" class="ui button">  Req Sanitizer </a>
              
            </div>
              
            <div class="column">
              
                <img class="ui centered small circular image" style="width: 100px; height: 100px" src="/assets/images/app-stream.png">
                <div class="ui hidden divider"></div>
                
                <div class="title"> <h5>App Stream</h5> </div>
                
                <div class="description">
                    <p>Advanced Standalone Steem data indexing app. Indexing by author, category and app is supported.</p>
                </div>
                
                <br/><br/>
                
                <a href="https://github.com/peerquery/app-stream" target="_blank" class="ui button">    App Stream  </a>
              
            </div>
              
            <div class="column">
              
                <img class="ui centered small circular image" style="width: 100px; height: 100px" src="/assets/images/curator.png">
                <div class="ui hidden divider"></div>
                
                <div class="title"> <h5>Curator</h5> </div>
                
                <div class="description">
                    <p>All in one standalone app for curation with support for teams, indexing filters and an in-built bot.</p>
                </div>
                
                <br/><br/>
                
                <a href="https://curator.center" target="_blank" class="ui button">    Curator  </a>
              
            </div>
              
              
        </div>
    </div>

	
</div>



  
  

 <div class="ui divider"></div>
 


  
  <div class="ui vertical stripe no-bottom-strip segment">
    <div class="ui text container">
	
	
    
		<div class="ui center aligned header">
            <h3 class="ui header">We are Open Source by Design </h3>
		</div>
		
        <div style="text-align: center">
        
                <p>You can join our company, and help us go even further.</p>
		
        </div>
            
      
		<div class="ui center aligned header">
        
            <div class="ui large buttons" style="margin-top: 2rem">
                <a href="/blog" target="_blank" class="ui large button">Read our blog</a>
                <a href="/partners" target="_blank" class="ui large button">Support our work!</a>
                <a href="https://github.com/peerquery/beta" target="_blank" class="ui large button">Explore our codebase</a>
            </div>
            
		</div>
		
		<br/>
		<br/>
		<br/>
		
		
		<h4 class="ui horizontal header divider">
			<a>Follow on social media!</a>
		</h4>
		
		
	
		<br/>
		
		<div class="ui center aligned header">
			<a href="http://steemit.com/@peerquery" target="_blank"><i class="circular inverted teal rss icon"></i> Steemit</a>
			<a href="http://facebook.com/peerquery" target="_blank"><i class="circular inverted blue facebook f icon"></i> Facebook</a>
			<a href="http://twitter.com/peer_query" target="_blank"><i class="circular inverted teal twitter icon"></i> Twitter</a>
			<a href="http://linkedin.com/company/peerquery" target="_blank"><i class="circular inverted violet linkedin icon"></i> LinkedIn</a>
		</div>
		
		
		
    </div>
  </div>

  
  
  
  
  
  
  
  
	<script src="/build/dist/scripts.js"></script>
	<script>
    //
    
    $('.scroll').click(function(event) {
        $('html, body').animate({ scrollTop: '+=600px' }, 800);
    });
    
    </script>
  
  
  
	<section class="footerSection">
		<% include ../partials/footer.ejs %>
	</section>



</body>

</html>
