
<!DOCTYPE html>
<html>
<head>

	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- SEO Properties -->
	<title>Terms and Conditions - Peer Query</title>
	<meta name="description" content="Read our fascinating terms and conditions of use!">
	<meta name="application-name" content="Peer Query">
	
	<!-- Open graph properties -->
	<meta property="og:site_name" content="Peer Query">
	<meta property="og:title" content="Terms and Conditions - Peer Query">
	<meta property="og:image" content="https://www.peerquery.com/assets/images/peerquery-home.png"/>
	<meta property="og:description" content="Read our fascinating terms and conditions of use!">
	<meta property="fb:app_id" content="384491628645652">
	
	<!-- SEO robots -->
	<meta name="robots" content="index, follow" />
	
	<script src="/build/dist/ui.js"></script>
	
</head>
<body>



<section class="navbarSection">
	<% include ../partials/navbar.ejs %>
</section>



	<div class="ui main text container">

		
	<br/>
		
	
	<h4 class="ui horizontal header divider">
        <a>Peer Query Terms of Service</a>
    </h4>
	
	<br/>
	<br/>
	
	
	<p>The terms "Peer Query", "peerquery.com" "we" or "us" as used in this document shall refer to the founder of Peer Query(Makafui George Dzivenu), all acknowledged supporters(as <a href="/about">listed here</a>) all members of the <a href="/team">operating team of Peer Query</a>(including curators and moderators) and all <a href="/partners">our partners</a>(Steem Power delegators) of Peer Query; past and present entities.</p>
	
	<p>The below terms shall cover the activities, liability, and responsibility of the above-prescribed entities to PeerQuery.com and its affiliated services.</p>
	
	<br/>
	
<h3>1. Terms</h3>
<p>By accessing the website at <a href="http://www.peerquery.com">http://www.peerquery.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
<h3>2. Use License</h3>
<ol type="a">
   <li>Permission is granted to temporarily download one copy of the materials (information or software) on Peer Query's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
   <ol type="i">
       <li>modify or copy the materials;</li>
       <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
       <li>attempt to decompile or reverse engineer any software contained on Peer Query's website;</li>
       <li>remove any copyright or other proprietary notations from the materials; or</li>
       <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
   </ol>
    </li>
   <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Peer Query at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
</ol>
<h3>3. Disclaimer</h3>
<ol type="a">
   <li>The materials on Peer Query's website are provided on an 'as is' basis. Peer Query makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
   <li>Further, Peer Query does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
</ol>
<h3>4. Limitations</h3>
<p>In no event shall Peer Query or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Peer Query's website, even if Peer Query or a Peer Query authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
<h3>5. Accuracy of materials</h3>
<p>The materials appearing on Peer Query website could include technical, typographical, or photographic errors. Peer Query does not warrant that any of the materials on its website are accurate, complete or current. Peer Query may make changes to the materials contained on its website at any time without notice. However Peer Query does not make any commitment to update the materials.</p>
<h3>6. Links</h3>
<p>Peer Query has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Peer Query of the site. Use of any such linked website is at the user's own risk.</p>
<h3>7. Modifications</h3>
<p>Peer Query may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
<h3>8. User contributions</h3>
<p>Peer Query accepts no liability whatsoever for content generated by its Users or for the activities of its users. These cannot be attributed to Peer Query, nor do they represent Peer Query's opinion. This disclaimer also applies to links published by users.</p>
<h3>9. Governing Law</h3>
<p>These terms and conditions are governed by and construed in accordance with the laws of Ghana and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
	
	
	</div>

	
	
	
	
	
  
	<section class="footerSection">
		<% include ../partials/footer.ejs %>
	</section>


  
  
</body>

</html>
