
<!DOCTYPE html>
<html>
<head>
		
	<title>Peer to Peer Collaboration powered by Steem!</title>
	
	<!-- Standard Meta -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<meta name="description" content="Peer Query is an open source query platform built on the Steem Blockchain. Ask questions, submit proposals, run contests and more with over half a million Steemians on all other Steem clients.">
	<meta name="keywords" content="Peer Query, peerquery, peerquery.com, www.peerquery.com, steem blockchain, steem details, steemit.com, steemit, steemit apps, steem services, steem, steemit, steem blockchain, publish article, paid blogging, cryptocurrency, steem dollars, smart media tokens, blockchain powered blog, news, make money online, work at home, bitcoin, blockchain">
	<meta name="application-name" content="Peer Query">
	
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Peer Query">
	<meta property="og:title" content="Peer Query: Ask, Contribute & Earn!">
	<meta property="og:description" content="Peer Query is an open source query platform built on the Steem Blockchain. Ask questions, submit proposals, run contests and more with over half a million Steemians on all other Steem clients.">
	<meta property="og:image" content="https://www.peerquery.com/assets/img/peerquery.png">
	<meta property="fb:app_id" content="384491628645652">
	
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@steempedia">
	<meta name="twitter:title" content="Peer Query">
	<meta name="twitter:description" content="Peer Query is an open source query platform built on the Steem Blockchain. Ask questions, submit proposals, run contests and more with over half a million Steemians on all other Steem clients.">
		
	
	<!-- Site Properties -->
	
	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	
	<!-- External files via CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
	<script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
	
	<!-- Local files -->
	<link rel="stylesheet" href="/assets/css/custom.css" />
	<script src="/assets/scripts/timeago.js"></script>
	<script src="/assets/scripts/sc2.min.js"></script>
	
	
	
</head>
<body>

	
<!-- Page Contents -->
<section class="navbarSection">
	<% include ../partials/navbar.ejs %>
</section>



<div class="pusher" <% if (logged_in == "true") { %> style = "display:none" <% } %>>

  <div class="ui inverted vertical masthead center aligned segment" style="margin-top: -7%; margin-bottom: 2%">
	
    <div class="ui text container" >
      <h1 class="ui inverted header">
        Imagine a World
      </h1>
      <h2>Where we could collaborate and reward seamlessly.</h2>
	  <a class="ui scroll huge right labeled primary icon button">
            <i class="chevron down icon"></i>
            It's possible with Steem
      </a>
    </div>

  </div>
  
  </div>
  


<div class="ui container">
	
	<div class="ui three steps">
    <div class="step">
		<i class="idea icon"></i>
      <div class="content">
        <div class="title">Got an idea?</div>
        <div class="description">Know how to cook pizza faster?</div>
      </div>
    </div>
    <div class="active step">
		<i class="announcement icon"></i>
      <div class="content">
        <div class="title">Publish a proposal</div>
        <div class="description">Share that bright idea!</div>
      </div>
    </div>
    <div class="step">
		<i class="dollar icon"></i>
      <div class="content">
        <div class="title">Community responds</div>
        <div class="description">Steemians can be very generous.</div>
      </div>
    </div>
  </div>
	
</div>

	<br/>
	
	<div class="ui divider"></div>
	
	<br/><br/>
	
 
 
    <div class="ui stackable grid container">
	
		<div class="ui five item menu">
			<a class="item active" id="proposal" onClick="display(this)">
				<i class="star icon"></i>
				<span class="desktop-only">Proposal</span>
			</a>
			<a class="item" id="question" onClick="display(this)">
				<i class="comments icon"></i>
				<span class="desktop-only">Questions</span>
			</a>
			<a class="item" id="quiz" onClick="display(this)">
				<i class="eye icon"></i>
				<span class="desktop-only">Quizzes</span>
			</a>
			<a class="item" id="gig" onClick="display(this)">
				<i class="dollar icon"></i>
				<span class="desktop-only">Gigs</span>
			</a>
			<a class="item" id="contest" onClick="display(this)">
				<i class="history icon"></i>
				<span class="desktop-only">Contests</span>
			</a>
		</div>
 
      <div class="row">
        <div class="ten wide column">
		  
		<br/>
		  
		  
		  <div class="ui container">
		  
  <div class="ui active centered inline loader" id="post-loader" style="display:none"></div>
  
  
  <div class="ui relaxed divided items"  id="item-container">
  
  
	  
	  </div>
	  
	  
    
	</div>
	
	
  </div>
		  
		  
		  
        <div class="six wide right floated column">
		  
		  
		  <div class="ui container">
		
				
				<br/>
				
			
			<div class="ui active centered inline loader" id="responses-loader" style="display:none"></div>
				
				<br/>
				
					<div class="ui left pointing label grid" style="visibility:hidden" id="responses-label">
						<div class="ui grid">
							
							<div class="two wide column"><i class="big comments icon"></i></div>
							<div class="fourteen wide column" id="responses-title"></div>
							
						</div>
					</div>
				
				
				<div class="ui comments" id="responses-container">
	
				</div>
		
		
		</div>
		  
		  
        </div>
      </div>
      
	  
	  <div class="row">
        <div class="center aligned column">
	  <br/><br/>
	  
	  
		  
		<div class="ui buttons" id="more-button" style="visibility:hidden">
			<a class="ui yellow button" href="/queries">
				<i class="question icon"></i>
				All queries
			</a>
			
				<div class="or"></div>
				
			<a class="ui blue button" href="/issues">
				<i class="tags icon"></i>
				All issues
			</a>
		</div>
		  
		  
		  
		  
        </div>
      </div>
    </div>
  
  

 
	

  <div class="ui vertical stripe segment">
  
  
		  
		  
		  <h3 class="ui center aligned header">What's the secret sauce?</h3>
		  
		  <br/><br/>
		  
		  <div class="ui last container">
  <div class="ui three steps">
    <div class="step">
      <div class="content">
        <div class="title"><i class="cubes icon"></i>Steem Blockchain</div>
        <div class="description">
			<p>The world's most powerful Blockchain, with the most processed transactions, instant transfers, conventional account names and feeless transfers.</p>
		</div>
      </div>
    </div>
    <div class="active step">
      <div class="content">
        <div class="title"><i class="power icon"></i>Computer intelligence</div>
        <div class="description">
			<p>The Steem Blockchain permanently stores user generated content - including your queries and their replies, while rewarding us for using it.</p>
		</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title"><i class="world icon"></i>Uncensored community</div>
        <div class="description">
			<p>Blockchain-grade security means no-censorship of your earnings, no censoring of your account, no censoring or corruption of your content.</p></div>
      </div>
    </div>
  </div>
</div>
		  
  
  
  
  </div>
  
  
  
  
  
  
  <div class="ui vertical stripe no-bottom-strip segment">
    <div class="ui text container">
	
	
      <h3 class="ui header">Meet the Query interface of the Blockchain</h3>
        <p>Peer Query is an open source query platform built on the Steem Blockchain. Ask questions, submit proposals, run contests and more with over a million Steemians accross other clients.</p>
		
		<a class="ui large button" href="/@peerquery" target="_blank">See what's new</a>
		<a class="ui large button" href="https://steem.io" target="_blank">Explore Steem</a>
		<a class="ui large button" href="https://github.com/peerquery/beta" target="_blank">Contribute</a>
		<a class="ui large button" href="/faqs" target="_blank">Read FAQs</a>
		
		
		<br/>
		<br/>
		<br/>
		
		
		<h4 class="ui horizontal header divider">
			<a>Follow on social media!</a>
		</h4>
		
		
	
		<br/>
		
		<div class="ui center aligned header">
			<a href="http://steemit.com/@peerquery" target="_blank"><i class="circular inverted teal rss icon"></i> Steemit</a>
			<a href="http://facebook.com/peerquery" target="_blank"><i class="circular inverted blue facebook f icon"></i> Facebook</a>
			<a href="http://twitter.com/peer_query" target="_blank"><i class="circular inverted teal twitter icon"></i> Twitter</a>
			<a href="http://linkedin.com/company/peerquery" target="_blank"><i class="circular inverted violet linkedin icon"></i> LinkedIn</a>
		</div>
		
		
		
    </div>
  </div>

  
  
	
	
	
<section name="modal for viewing posts">

<div class="ui modal">
	<i class="close icon"></i>
	
	<div class="header"><span id="modal_title"></span> <em> by <span id="modal_author"></span></em></div>
	
	
	<div class="post_content scrolling content">
		
		<div class="description" id="modal_content">
	
		</div>
	
	</div>
	
	<div class="actions">
		<a class="ui positive right positive labeled icon button" id="modal_href" >
			View
			<i class="window maximize outline icon"></i>
		</a>
		<div class="ui black right negative labeled icon button">
			Close
			<i class="window close icon"></i>
		</div>
	</div>
</div>

</section>




  
  
  
  <!-- mounting div -->
  
  <div id="temp" style="display:none"></div>
  
  <!-- end of mounting div -->
  

  
	<section class="footerSection">
		<% include ../partials/footer.ejs %>
	</section>



  <script>
   
   
var converter = new showdown.Converter();


	$(".scroll").click(function(event){
        $('html, body').animate({scrollTop: '+=600px'}, 800);
    });
	

   
  $(document).ready(function() {
	
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });
      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active')
          ;
        });
  });
  
  
  
  	 
	 steem.api.setOptions({ url: 'https://api.steemit.com' });





function display(element) {
	
	document.getElementById("item-container").innerHTML = "";
	document.getElementById("responses-container").innerHTML = "";
	document.getElementById("more-button").style.visibility = "hidden";
	document.getElementById("responses-label").style.visibility = "hidden";
	document.getElementById("post-loader").style.display = "block";
	document.getElementById("responses-loader").style.display = "block";

	
	query = { tag: element.id, limit: 8 };
  
	//console.log(query);
	
    steem.api.getDiscussionsByTrending(query, function(err, results) {
		
		//console.log(err, results);
		
		if (err) { alert(err); return };
		
		document.getElementById("post-loader").style.display = "none";
		document.getElementById("responses-loader").style.display = "none";
		document.getElementById("more-button").style.visibility = "visible";
		
		
		if (results.length <= 1) return;
		
		
		for (x in results) {
			
			
			create_post_card(results[x]);
			
			if (x == results.length -1) timeAgo();
			
		}
		
		
		get_responses_to_top(results[0]);
		
		
		modal_ready();
		
    });
	
	
}




display(document.getElementById("proposal"));





function create_post_card(result) {
	
	
	var html = converter.makeHtml(result.body);
	
	document.getElementById("temp").innerHTML = html;
	
	body_raw = $("#temp").text();	
	
	body1 = body_raw.replace(/ *\([^)]*\) */g, "");						//removes () and all content in it
	body2 = body1.replace(/ *\[[^\]]*\] */g, "");						//removes [] and all content in it
	body3 = body2.replace(/(?:https?|ftp):\/\/[\S\n]+/g, '');			//removes all links - targetted at image links
	
	
	var summary = body3.substr(0, 150) + " ...";
	
	
	summary = summary.replace(/\n/g, "");
	
	var src = "/assets/img/image.png";
	
	src = $('#temp img').attr('src');
	
	document.getElementById("temp").innerHTML = "";
	
	
	
	var item = document.createElement("div");
	item.className = "item";
	
	var image_div = document.createElement("div");
	image_div.className = "ui small image";
	
	var post_image = document.createElement("img");
	post_image.onerror = function() {this.src='/assets/img/image.png'; this.onerror='';};
	post_image.style.height = "124px";
	post_image.style.width = "150px";
	post_image.src = src;
	
	image_div.appendChild(post_image);
	
	var content_div = document.createElement("div");
	content_div.className = "content";
	
	var header_a = document.createElement("a");
	header_a.className = "header";
	header_a.href = "/" + result.parent_permlink + "/@" + result.author + "/" + result.permlink;
	header_a.innerText = result.title;
	
	var extra_div = document.createElement("div");
	extra_div.className = "extra";
	
	var author_a = document.createElement("a");
	author_a.className = "ui blue image label";
	author_a.href = "/@" + result.author;
	
	var author_img = document.createElement("img");
	author_img.onerror = function() {this.src='/assets/img/image.png'; this.onerror='';};
	author_img.src = "https://img.busy.org/@" + result.author;
	
	var author_span = document.createElement("span");
	author_span.innerText = result.author;
	
	var author_rep_div = document.createElement("div");
	author_rep_div.className = "detail";
	author_rep_div.title = "User's reputation";
	author_rep_div.innerText = steem.formatter.reputation(result.author_reputation);
	
	author_a.appendChild(author_img);
	author_a.appendChild(author_span);
	author_a.appendChild(author_rep_div);
	
	var time_span = document.createElement("span");
	
	var time_span_icon = document.createElement("i");
	time_span_icon.className = "wait icon";
	
	var time = document.createElement("span");
	time.className = "timeago";
	time.title = result.created;
	time.innerText = result.created;
	
	time_span.appendChild(time_span_icon);
	time_span.appendChild(time);
	
	var pop = document.createElement("a");
	pop.className = "pop";
	pop.title = "Preview";
	pop.setAttribute("data-account", result.author); 
	pop.setAttribute("data-title", result.title); 
	pop.setAttribute("data-permlink", result.permlink);
	pop.setAttribute("data-body", html);
	pop.innerHTML = "<i class='small circular inverted blue bug icon'></i>";
	
	extra_div.appendChild(author_a);
	extra_div.appendChild(time_span);
	extra_div.appendChild(pop);
	
	var description_div = document.createElement("div");
	description_div.className = "description";
	description_div.innerText = summary;
	
	var extra_label_div = document.createElement("div");
	extra_label_div.className = "extra";
	
	
	var a_category = document.createElement("a");
	a_category.className = "ui label";
	a_category.title = "Category";
	a_category.href = "/issue/" + result.parent_permlink;
	
	var i_category = document.createElement("i");
	i_category.className = "tag icon";
	
	var span_category = document.createElement("span");
	span_category.innerText = result.parent_permlink;
	
	a_category.appendChild(i_category);
	a_category.appendChild(span_category);


	
	var a_earned = document.createElement("a");
	a_earned.className = "ui label";
	a_earned.title = "Earned";
	
	var i_earned = document.createElement("i");
	i_earned.className = "dollar icon";
	
	var span_earned = document.createElement("span");
	span_earned.innerText = Math.max(Number(result.pending_payout_value.split(' ')[0]), Number(result.total_payout_value.split(' ')[0]) + Number(result.curator_payout_value.split(' ')[0])).toLocaleString();
	
	a_earned.appendChild(i_earned);
	a_earned.appendChild(span_earned);


	
	var a_votes = document.createElement("a");
	a_votes.className = "ui label";
	a_votes.title = "Votes";
	
	var i_votes = document.createElement("i");
	i_votes.className = "heart icon";
	
	var span_votes = document.createElement("span");
	span_votes.innerText = Number(result.active_votes.length).toLocaleString();
	
	a_votes.appendChild(i_votes);
	a_votes.appendChild(span_votes);


	
	var a_responses = document.createElement("a");
	a_responses.className = "ui label";
	a_responses.title = "Responses";
	
	var i_responses = document.createElement("i");
	i_responses.className = "comments icon";
	
	var span_responses = document.createElement("span");
	span_responses.innerText = result.children.toLocaleString();
	
	a_responses.appendChild(i_responses);
	a_responses.appendChild(span_responses);
	
	
	
	extra_label_div.appendChild(a_category);
	extra_label_div.appendChild(a_earned);
	extra_label_div.appendChild(a_votes);
	extra_label_div.appendChild(a_responses);
	
	content_div.appendChild(header_a);
	content_div.appendChild(extra_div);
	content_div.appendChild(description_div);
	content_div.appendChild(extra_label_div);
	
	item.appendChild(image_div);
	item.appendChild(content_div);
	
	
	document.getElementById("item-container").appendChild(item);
	
	
}




function get_responses_to_top(result) {
	
		document.getElementById("responses-title").innerText = result.title;
		
	steem.api.getContentReplies(result.author, result.permlink, function(err, result) {
		//console.log(err, result);
		
		if(err) { alert(err); return }
		
		document.getElementById("responses-label").style.visibility = "visible";
		
		
		 for(x in result) {
			
			if(x == result.length -1) timeAgo();
			if(x == "25") return;
			
			create_comment(result[x]);
			
		 }
	});
	
	
}
	
	


function create_comment(cmt) {
	
	
	
	
	var md = cmt.body;
	var html = converter.makeHtml(md);
	
	
	var tmp = document.createElement('div');
	tmp.innerHTML = html;
	
	var img = tmp.getElementsByTagName('img')[0];
	
	var src = "/img/thumbnail-placeholder.png";
	
	if (img !== undefined || null) src = img.src;
	
	var summary = tmp.innerText.replace(/\W+/g, " ");
	summary = summary.substr(0, 100) + " ...";
	
	
	
	
	
	var comment = document.createElement("div");
	comment.className = "comment";
	

	var a_avatar = document.createElement("a");
	a_avatar.className = "avatar";
	
	var img_avatar = document.createElement("img");
	img_avatar.onerror = function() {this.src='/assets/img/image.png'; this.onerror='';};
	img_avatar.src = "https://img.busy.org/@" + cmt.author;
	
	a_avatar.appendChild(img_avatar);
	
	
	var div_content = document.createElement("div");
	div_content.className = "content";
	
	var a_author = document.createElement("a");
	a_author.className = "author";
	a_author.href = "/@" + cmt.author;
	a_author.innerText = "@" + cmt.author + "(" + steem.formatter.reputation(cmt.author_reputation) + ")";
	
	
	
	var div_meta = document.createElement("div");
	div_meta.className = "metadata";
	
	
	
	var div_date = document.createElement("div");
	div_date.className = "date";
	
	var i_date = document.createElement("i");
	i_date.className = "wait icon";
	
	var span_date = document.createElement("span");
	span_date.className = "timeago";
	span_date.title = cmt.created;
	
	div_date.appendChild(i_date);
	div_date.appendChild(span_date);
	
	
	
	var div_votes = document.createElement("div");
	div_votes.className = "rating";
	
	var i_votes = document.createElement("i");
	i_votes.className = "heart icon";
	
	var span_votes = document.createElement("span");
	span_votes.innerText = Number(cmt.net_votes).toLocaleString();
	
	div_votes.appendChild(i_votes);
	div_votes.appendChild(span_votes);
	
	
	
	var div_earned = document.createElement("div");
	div_earned.className = "earned";
	
	var i_earned = document.createElement("i");
	i_earned.className = "dollar icon";
	
	var span_earned = document.createElement("span");
	span_earned.innerText = Math.max(Number(cmt.pending_payout_value.split(' ')[0]), Number(cmt.total_payout_value.split(' ')[0]) + Number(cmt.curator_payout_value.split(' ')[0])).toLocaleString();
	
	div_earned.appendChild(i_earned);
	div_earned.appendChild(span_earned);
	
	
	
	div_comment = document.createElement("div");
	div_comment.className = "text";
	div_comment.innerText = summary;
	
	
	
	div_meta.appendChild(div_date);
	div_meta.appendChild(div_votes);
	div_meta.appendChild(div_earned);
	
	div_content.appendChild(a_author);
	div_content.appendChild(div_meta);
	div_content.appendChild(div_comment);
	
	comment.appendChild(a_avatar);
	comment.appendChild(div_content);
	
	document.getElementById("responses-container").appendChild(comment);
	
	
	
}
	
	
	
	
		
	function modal_ready() {
	
	
		$( ".pop" ).click(function() {
				//console.log(this);  this logs the clicked a element
				var el = this;
				
				//console.log(el);
				
				
			$('.ui.modal')
			.modal({
				onShow    : function(){
					//window.alert('Showing modal!!!');
					//console.log(this); //works but rather only logs the real modal itself!
					document.getElementById('modal_href').href = "/@" + el.dataset.account + "/" + el.dataset.permlink;
					document.getElementById('modal_title').innerHTML = el.dataset.title;
					document.getElementById('modal_author').innerHTML = "@" + el.dataset.account;
					document.getElementById('modal_content').innerHTML = el.dataset.body;
					return false;
				}
			}).modal('show');
			
		});
	
	
	}
	

	

	
	
  </script>

</body>

</html>
